.battleship-square {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  

  .battleship-square:nth-child(odd) {
    background-color: #855E42; 
  }
  
  
  .battleship-square:nth-child(even) {
    background-color: #DDB88C;
  }