body {
  background-color: #1abc9c;
}

.board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #1abc9c;
}


.battleship-button {
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 10px;
  border-color: blue;
  border-width: 2px;
  text-align: center;
  text-decoration: #e60909;
  display: inline-block;
  font-size: 12px;
}

.battleship-button:hover {
  background-color: blue;
}

.playbutton {
  position: absolute;
  bottom: center;
 
}

.playbutton:hover {
  background-color: red;
}

.header {
  padding: 1px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.header:hover {
  color: aqua;
}