body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

.header {
  padding: 20px;
  background-color: #333;
  color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  margin: 0 auto; 
}

.board button {
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  background-color: #eee;
  display: flex;
}

.board button.ship {
  background: rgba(255, 255, 255, 0.5) url('../images/ship.png') center center no-repeat;
  background-size: cover;
}

.board button.miss {
  background-color: #ffffff; /* Change the color as desired */
}

.board button.hit {
  background: rgba(255, 255, 255, 0.5) url('../images/explosion.jpg') center center no-repeat;

}

