.board {
    grid-template-columns: 120px 120px 120px ;
    grid-template-rows: 120px 120px 120px 20px;
    justify-content: center;
   
}

.battleship-square {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #d9d9d9;
    border: 1px solid black;
  }
  
