.board {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

}

.battleship-square {
  width: 50px;
  height: 50px;
  border: 1px solid #999;
}

