.ship-square1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

.computer-choice {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

